.row{
    background-image: radial-gradient( circle farthest-corner at 83.7% 4.3%,  rgba(173,0,171,1) 0%, rgba(15,51,92,1) 90% );
}

.content{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10rem 4rem 0 ;
}

.content h1{
    font-size: 60px!important;
    font-weight: 800;
}

.content p{
    font-size: 20px!important;
    font-weight: 300;
}

.image{
    margin: 4rem 2rem 3.5rem ;
}

.banner-img{
    width: 30rem;
    height: 30rem;
}